/* Font Colors:
brown - rgb(66,48,29);
white - #F0F2EF
green - #40775A */

.header_background {
    background: rgb(66,48,29);
}

h1.name_header {
    font-family: 'Noto Serif', serif;
    font-size: 48px;
    color: #F0F2EF; 
    text-align: center;
}