/* Font Colors:
brown - rgb(66,48,29); or #42301D
white - #F0F2EF
green - #40775A */

.header_background {
    background: rgb(66,48,29);
}

.white-text {
    color: #F0F2EF;
}

h1.name_header {
    font-family: 'Noto Serif', serif;
    font-size: 48px; 
    text-align: left;
}

p.para_text {
    font-family: 'Noto Serif', serif;
    font-family: 'Poltawski Nowy', serif;
}